@import 'styles/variables.scss';
@import 'styles/mixins.scss';

form.modal-form {
    @include flex-column();
    @include column-centered();
    height: auto;
    box-sizing: border-box;
    padding: 20px 0px 0px 0px;
    gap: 16px;
}

.row-wrapper {
    @include flex-row();
    @include row-centered();
    width: 100%;
    gap: 10px;
}
