@import 'styles/variables.scss';
@import 'styles/mixins.scss';

section.todo__header {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    @include flex-row();
    @include all-centered();
    padding: 0;
    margin-bottom: 10px;
    background-color: $dark-grey-color;
    border-radius: 8px;
    border: 1px solid #3f3f3f;
    background-color: inherit !important;
    border: none !important;
    @media (max-width: 520px) {
        div.header {
            .header__title {
                width: 100%;
                font-size: 24px !important;
                span {
                    letter-spacing: normal;
                    font-weight: 500;
                    font-size: 18px !important;
                    color: $white-color;
                }
            }
        }
    }
    div.header {
        width: 100%;
        box-sizing: border-box;
        @include flex-row;
        @include row-centered;
        align-items: center;
        padding: 0;
        .header__title {
            font-size: $large-size;
            font-family: 500;
            font-size: 40px;
            letter-spacing: 0.25ch;
            margin: 20px;
            color: $soft-white-color;
            @include flex-row;
            @include row-centered;
            gap: 20px;
            span {
                letter-spacing: normal;
                font-weight: 500;
                font-size: 32px;
                color: $white-color;
            }
        }
    }
}
